<footer class="footer">
	<div class="container">
		<div class="row justify-content-between align-items-center">

			<div class="col-12 col-sm-5 mb-4 mb-sm-0">
				<p class="footer__text">©2014 <span class="strong">tulus</span>driyo. All Rights Reserved.</p>
			</div>


			<div class="col col-sm-6 col-md-5 col-lg-3">
				<ul class="social-list">
					<li class="social-item">
						<a href="#" class="social-link" target="_blank">
							<%- include('svg/behance'); -%>
						</a>
					</li>
					<li class="social-item">
						<a href="#" class="social-link" target="_blank">
							<%- include('svg/linked-in'); -%>
						</a>
					</li>
					<li class="social-item">
						<a href="#" class="social-link" target="_blank">
							<%- include('svg/google'); -%>
						</a>
					</li>
					<li class="social-item">
						<a href="#" class="social-link" target="_blank">
							<%- include('svg/facebook'); -%>
						</a>
					</li>
					<li class="social-item">
						<a href="#" class="social-link" target="_blank">
							<%- include('svg/twitter'); -%>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>