<section class="team pt-125">
	<div class="container">
		<div class="row mb-3 mb-md-5">
			<div class="col">
				<h2 class="section-title">meet our team</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-sm-9 col-md-12 d-flex justify-content-center">
				<div class="owl-carousel slider-team">
					<div class="slider-item">
						<div class="team-img-wrapper">
							<img class="team-img" src="img/miguel.png" alt="face">
						</div>
						<div class= "team-block-wrapper">
							<p class="crewman-name">miguel obrien</p>
							<p class="crewman-position">CEO & founder</p>
							<div class="social-block">
								<ul class="social-list">
									<li class="social-item">
										<a href="#" class="social-link" target="_blank">
											<%- include('svg/linked-in'); -%>
										</a>
									</li>
									<li class="social-item">
										<a href="#" class="social-link" target="_blank">
											<%- include('svg/google'); -%>
										</a>
									</li>
									<li class="social-item">
										<a href="#" class="social-link" target="_blank">
											<%- include('svg/facebook'); -%>
										</a>
									</li>
									<li class="social-item">
										<a href="#" class="social-link" target="_blank">
											<%- include('svg/twitter'); -%>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="slider-item">
						<div class="team-img-wrapper">
							<img class="team-img" src="img/jackie.png" alt="face">
						</div>
						<div class= "team-block-wrapper">
							<p class="crewman-name">jackie carroll</p>
							<p class="crewman-position">art director</p>
							<div class="social-block">
								<ul class="social-list">
									<li class="social-item">
										<a href="#" class="social-link" target="_blank">
											<%- include('svg/behance'); -%>
										</a>
									</li>
									<li class="social-item">
										<a href="#" class="social-link" target="_blank">
											<%- include('svg/linked-in'); -%>
										</a>
									</li>
									<li class="social-item">
										<a href="#" class="social-link" target="_blank">
											<%- include('svg/google'); -%>
										</a>
									</li>
									<li class="social-item">
										<a href="#" class="social-link" target="_blank">
											<%- include('svg/facebook'); -%>
										</a>
									</li>
									<li class="social-item">
										<a href="#" class="social-link" target="_blank">
											<%- include('svg/twitter'); -%>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="slider-item">
						<div class="team-img-wrapper">
							<img class="team-img" src="img/ida.png" alt="face">
						</div>
						<div class= "team-block-wrapper">
							<p class="crewman-name">ida morrison</p>
							<p class="crewman-position">designer</p>
							<div class="social-block">
								<ul class="social-list">
									<li class="social-item">
										<a href="#" class="social-link" target="_blank">
											<%- include('svg/behance'); -%>
										</a>
									</li>
									<li class="social-item">
										<a href="#" class="social-link" target="_blank">
											<%- include('svg/linked-in'); -%>
										</a>
									</li>
									<li class="social-item">
										<a href="#" class="social-link" target="_blank">
											<%- include('svg/google'); -%>
										</a>
									</li>
									<li class="social-item">
										<a href="#" class="social-link" target="_blank">
											<%- include('svg/facebook'); -%>
										</a>
									</li>
									<li class="social-item">
										<a href="#" class="social-link" target="_blank">
											<%- include('svg/twitter'); -%>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>